@import "colors";
.containerFiltro {
  display: none;
}
@media (min-width: 768px) {
  .containerFiltro {
    display: flex;
    max-width: 160px;
    width: 160px;

    flex-shrink: 0;
    flex-direction: column;
    row-gap: 24px;
    p {
      font-size: 16px;
      color: #333333;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 14px;
    }
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      li {
        display: flex;
        column-gap: 5px;
        align-items: center;
        text-transform: capitalize;
        font-size: 14px;

        input {
          accent-color: $primaria;
          width: 16px;
          height: 16px;
        }
        label {
          cursor: pointer;
        }
        &.ver-mais {
          button {
            background-color: transparent;
            border: transparent;
            cursor: pointer;
            color: $cinza2;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 5px;
            i {
              padding-top: 5px;
            }
          }
        }
      }
    }
    .filterSize {
      display: flex;
      flex-wrap: wrap;
      max-width: 153px;
      gap: 8px;
      flex-direction: row;
      button {
        width: 32px;
        height: 32px;
        background-color: transparent;
        color: $cinza;
        border: 1px solid $cinza;
        font-size: 16px;
      }
    }
  }
}
